/* Default styles */

:root {
    --primaryColor: hsl(22, 76%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


html,
body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    font-size: 1.1rem;
    margin: 20px 0 10px 0;
}

/* Buttons */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #1872ef;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.btn:hover {
    transition: 0.4s;
    transform: scale(1.1);
    background-color: #07378a;
}

/* Home - Main Contents */
section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

section>p {
    margin: 20px 350px;
}

section.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    max-width: 1200px;
    max-height: 800px;
}

.home-text {
    margin: 20px;
    padding-left: 100px;
}

.home-text h1 {
    animation: fadeIn 15s forwards;
    color: var(--primaryColor);
    font-weight: bold;
}

.home-text p {
    animation: fadeIn 17s forwards;
    color: white;
}

.home-text a {
    animation: fadeIn 19s forwards;
    color: white;
}

.logo-home {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    animation: fadeIn 7s forwards;
    z-index: 1000;
    color: white;
}

.logo {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    animation: fadeIn 7s forwards;
    color: black;
}

.homeintro-video {
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-blend-mode: overlay;
}

.home-container {
    position: relative;
    max-width: 600px;
}

/* Toggle & Nav Bar */
.toggle {
    transition: 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 20;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(194, 169, 28);
    filter: invert(1);
    background-image: url(https://res.cloudinary.com/dsitzow1q/image/upload/v1681407489/portfolio_website/menu_sokazc.webp);
    cursor: pointer;
    border-radius: 8px;
}

.toggle.active {
    transition: 0.3s;
    background-image: url(https://res.cloudinary.com/dsitzow1q/image/upload/v1681407741/portfolio_website/close_wbfdzx.webp);
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 20;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 18;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.4s;
}

.navbar ul li {
    position: relative;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    margin: 15px 0;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(20, 88, 145);
}

.navbar ul li a:hover {
    color: rgb(105, 70, 6);
}

.navbar ul li a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: rgb(218, 137, 17);
    transition: width 0.2s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar ul li a:hover::after {
    width: 100%;
    transition: 0.2s;
}


.navbar.active {
    left: 0;
}

.navbar .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.4);
}

/* Services */
section .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    text-align: center;
    margin-top: 130px;
}

.card img {
    height: 215px;
    width: 215px;
}

.services .card {
    padding: 20px;
    box-shadow: 1px 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.services .card:hover {
    background-color: rgb(241, 240, 240);
}

/* Case Studies */
.case-studies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.case-studies .card img {
    height: 100%;
    width: 100%;
}

.case-studies .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.case-studies .card .action {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}

.case-studies .card a {
    visibility: hidden;
}

.case-studies .card .action:hover {
    animation: border-animation 0.8s forwards;
}

.case-studies .card:hover a {
    color: white;
    visibility: visible;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 1px white;
    padding: 10px;
}

/* Contact */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    background-color: rgb(240, 239, 239);
    border: 1px rgb(180, 179, 179) solid;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: rgb(19, 18, 27);
}

#name,
#last-name {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

#email,
#subject {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.submit-btn {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    width: 70px;
    height: 50px;
    background-color: rgba(39, 115, 202, 0.918);
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
}

.submit-btn:hover {
    transition: 0.4s;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    width: 70px;
    height: 50px;
    background-color: rgb(24, 79, 143);
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    bottom: 344px;
    right: -500px;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(241, 240, 240, 0.308);
    box-shadow: 4px 4px 4px var(--primaryColor);
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid;
}

input:focus,
textarea:focus {
    background-color: rgb(67, 171, 240);
    outline: none;
}


.contact-details img {
    width: 25px;
    height: 25px;
}

.contact-details h3 {
    color: #1a2070;
    font-weight: bold;
}

.contact-details a {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.contact-details p {
    margin-top: 1px;
    font-size: 1.1rem;
}

/* Footer */
.mainpage-footer {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1000;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    bottom: 0;

}


/* Keyframes */
@keyframes border-animation {
    0% {
        border-top-color: var(--primaryColor);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    25% {
        border-top-color: var(--primaryColor);
        border-right-color: var(--primaryColor);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        border-top-color: var(--primaryColor);
        border-right-color: var(--primaryColor);
        border-bottom-color: var(--primaryColor);
        border-left-color: transparent;
    }

    75% {
        border-top-color: var(--primaryColor);
        border-right-color: var(--primaryColor);
        border-bottom-color: var(--primaryColor);
        border-left-color: var(--primaryColor);
    }

    100% {
        border-top-color: var(--primaryColor);
        border-right-color: var(--primaryColor);
        border-bottom-color: var(--primaryColor);
        border-left-color: var(--primaryColor);
        box-shadow: 1px 1px 2px var(--primaryColor);
        background-color: rgba(48, 46, 46, 0.753);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

/* Small screen responsiveness */
@media screen and (max-width: 1060px) {
    * {
        overflow: visible;
    }

    .homeintro-img {
        display: none;
    }

    .logo {
        top: 20px;
        left: 40px;
    }

    h1 {
        font-size: 1.6rem;
    }

    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 60vh;
    }
    footer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        bottom: -400px;
    }
}

@media screen and (max-width: 950px) {
    * {
        overflow: visible;
    }

    section {
        margin-top: 120px;
    }
    section>p {
        margin: 20px auto;
    }
    .logo {
        font-size: 1.4rem;
    }

    section .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        text-align: center;
        margin-top: 0;
    }

    .card img {
        height: 70px;
        width: 70px;
    }

    .services .card {
        padding: 0;
        box-shadow: none;
    }

    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
    }
    footer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        bottom: -1500px;
    }
    .contact-details {
        display: flex;
        position:static;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .contact-form {
        display: flex;
        margin: 20px 0 0 0;
        justify-content: center;
    
    }
}

@media screen and (max-width: 615px) {
    * {
        overflow: visible;
    }

    section {
        margin-top: 230px;
    }
    section>p {
        margin: 20px auto;
    }
    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 85vh;
    }

    footer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        bottom: -1450px;
    }
}

@media screen and (max-width: 497px) {
    * {
        overflow: visible;
    }

    section {
        margin-top: 240px;
    }
    section>p {
        margin: 20px auto;
    }
    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }
    footer {
        text-align: center;
        width: 100%;
        color: black;
        bottom: -1500px;
    }
}

@media screen and (max-width: 376px) {
    * {
        overflow: visible;
    }

    section {
        margin-top: 400px;
    }
    section>p {
        margin: 20px auto;
    }
    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 125vh;
    }

    .card {
        margin: 20px;
    }
    footer {
        text-align: center;
        width: 100%;
        color: black;
        bottom: -1800px;
    }
    .contact-details {
        display: flex;
        position:static;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .contact-form {
        display: flex;
        margin: 20px 0 0 0;
        justify-content: center;
    
    }
}

@media screen and (max-width: 320px) {
    * {
        overflow: visible;
    }
    section {
        margin-top: 400px;
    }
    section>p {
        margin: 20px auto;
    }
    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 125vh;
    }
    footer {
        text-align: center;
        width: 100%;
        color: black;
        bottom: -1600px;
    }
}

@media screen and (max-width: 300px) {
    * {
        overflow: visible;
    }

    section {
        margin-top: 500px;
        justify-content: center;
    }
    section>p {
        margin: 20px auto;
    }
    .case-studies {
        display: flex;
        flex-wrap: wrap;
        height: 125vh;
        max-width: 95%;
        max-height: 95%;
    }
 
    footer {
        text-align: center;
        width: 100%;
        color: black;
        bottom: -2100px;
    }
    
}